{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
		{{ if .Site.Params.about.videourl }}
		<p>		
	       		<video id="myVideo" controls>
				  <source src="{{ .Site.Params.about.videourl }}"> 
				  <!-- 
				  <source src="http://techslides.com/demos/sample-videos/small.webm" type="video/webm">
				  <source src="http://techslides.com/demos/sample-videos/small.ogv" type="video/ogg"> 
				  <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
				  <source src="http://techslides.com/demos/sample-videos/small.3gp" type="video/3gp">
                                  -->
			</video>
		</p>
                {{ end }}

                {{ with .Site.Params.about.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.about.headline .Site.Params.about.description }}
                    <hr class="light">
                {{ end }}
                {{ with .Site.Params.about.description }}
                    <p class="text-faded">{{ . | markdownify }}</p>
                {{ end }}
                {{ with .Site.Params.about.buttonText }}
                    <a href="#" class="btn btn-default btn-xl">{{ . }}</a>
                {{ end }}
               {{ range .Site.Params.about.buttons }}
		    <a href="#portfolioModal{{ .modalID }}" class="btn btn-default btn-xl" data-toggle="modal">
                    {{ .buttonText }}
                    </a>
                {{ end }}
            </div>
        </div>
    </div>
</section>
